#speaker {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  z-index: 10;
  background: white;
  border: solid 5px black;

  p {
    padding: 20px;
    min-height: 40px;
    font-size: 40px;
    margin: 0;
  }
}
